* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  pointer-events: none;
}
body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
  background-color: grey;
  align-items: center;
  justify-content: center;
}
#container {
  height: 96vh;
}
button {
  width: fit-content;
  margin: auto;
}
span {
  font-size: xx-large;
  position: absolute;
  animation: effect 3s forwards infinite;
}
div:first-of-type {
  width: 500px;
  color: white;
  text-align: center;
  background-color: rgb(36, 35, 35);
  border-radius: 50%;
  box-shadow: 50px 50px 50px black;
}
@keyframes effect {
  0% {
    translate: 0 0;
    opacity: 0;
  }
  50% {
    translate: 0 100px;
    opacity: 1;
  }
  100% {
    translate: 0 80px;
    opacity: 0;
  }
}

div:first-of-type {
  animation: bounce-in-right 2s ease forwards;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
